# Daily weather data in the Netherlands

- https://www.knmi.nl/nederland-nu/klimatologie/daggegevens
- https://aqicn.org/city/amsterdam/

## Installing packages

In [2]:
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns

## Importing data

### Weather

In [7]:
weather = pd.read_csv(r'C:\Users\claud\data_final_project\Usefull\etmgeg_240_Ams_Schiphol\etmgeg_240.txt')
weather = weather[(weather.YYYYMMDD >= 20140112)]
weather

C:\Users\claud\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3165: DtypeWarning: Columns (9,10,13,15,18,19,20,22,23,24,26,27,28,29,34,35,36,37,38,39,40) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,# STN,YYYYMMDD,DDVEC,FHVEC,FG,FHX,FHXH,FHN,FHNH,FXX,...,VVNH,VVX,VVXH,NG,UG,UX,UXH,UN,UNH,EV24
23022,240,20140112,162,30,37,60,22,20,2,90,...,18,70,1,1,88,97,5,81,14,5
23023,240,20140113,196,50,58,90,7,40,17,140,...,4,70,1,5,90,97,4,83,1,4
23024,240,20140114,159,34,42,50,1,30,17,80,...,21,69,15,7,94,97,2,90,15,1
23025,240,20140115,168,62,63,80,10,30,1,120,...,23,70,9,8,94,98,16,87,9,1
23026,240,20140116,169,59,60,70,1,40,16,100,...,1,65,8,7,94,98,1,92,10,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25884,240,20211113,265,9,25,70,1,10,20,110,...,2,70,11,8,93,97,2,82,13,5
25885,240,20211114,64,32,33,50,10,10,1,80,...,2,67,22,8,91,98,2,81,22,3
25886,240,20211115,63,31,33,40,10,20,23,80,...,19,70,6,8,89,94,15,85,1,1
25887,240,20211116,173,20,24,50,23,10,3,80,...,17,56,2,8,90,97,18,85,2,1
25888,240,20211117,246,36,46,70,14,30,18,100,...,7,75,11,6,86,97,7,70,14,4

### Air quality

In [5]:
air_quality = pd.read_csv(r'C:\Users\claud\data_final_project\Usefull\amsterdam-air-quality.csv')
air_quality

            date  pm25  pm10   o3  no2  so2  co
0       2021/9/1    44    25   30   22        3
1       2021/9/2    49    27   32   22        3
2       2021/9/3    57    23   31   14        3
3       2021/9/4    46    22   34   15        3
4       2021/9/5    50    27   37   26        4
...          ...   ...   ...  ...  ...  ...  ..
2661   2014/3/30          42   23   38    1
2662   2014/3/31          56   27   47    6
2663   2014/1/29                1         1
2664  2013/12/31                    30
2665   2014/1/12                    41

[2666 rows x 7 columns]

In [8]:
air_quality.dtypes

date     object
 pm25    object
 pm10    object
 o3      object
 no2     object
 so2     object
 co      object
dtype: object